<!-- 
<div class="container" *ngIf="productFormGroup">
    <form [formGroup]="productFormGroup">
        <div class=form-group>
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name"
            [ngClass]="{'is-invalid':submitted && productFormGroup.controls.name.errors}">
            <div *ngIf="submitted && productFormGroup.controls.name.errors" class="invaid-feedback">
                <div *ngIf="productFormGroup.controls.name.errors.required">
                    Name is Required
                </div>
            </div>

        </div>
        
        <div class=form-group>
            <label for="price">Price</label>
            <input type="text" id="price" class="form-control" formControlName="price">
        </div>

        <div class=form-group>
            <label for="quantity">Quantity</label>
            <input type="text" id="quantity" class="form-control" formControlName="quantity">
        </div>

        <div class=form-group>
            <label for="selected">Selected</label>
            <input type="checkbox" id="selected" class="ml-2" formControlName="selected">
        </div>

        <div class=form-group>
            <label for="available">Available</label>
            <input type="checkbox" id="available" class="ml-2"  formControlName="available">
        </div>
        <button class="btn btn-success" (click)="onSaveProduct()">Save</button>
    </form>
</div>
-->